on:
  - push

jobs:
  test:
    runs-on: ${{ matrix.os }} 
    strategy:
      matrix:
        os: [ubuntu-latest]
        racket-variant: ['CS']
        racket-version: ['8.0', '8.6', 'current']
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install Racket
        uses: Bogdanp/setup-racket@v1.1
        with:
          architecture: 'x64'
          distribution: 'full'
          variant: ${{ matrix.racket-variant }}
          version: ${{ matrix.racket-version }}
      - name: Install Package and its Dependencies
        run: raco pkg install --deps search-auto drcomplete-required/ drcomplete-user-defined/ drcomplete-filename/ drcomplete-module/ drcomplete-auto/ drcomplete-base/
      - name: Run Tests
        run: raco test -x -p drcomplete-required drcomplete-user-defined drcomplete-filename drcomplete-module drcomplete-auto drcomplete-base
      - name: Check Dependencies
        run: raco setup --check-pkg-deps --pkgs drcomplete-required drcomplete-user-defined drcomplete-filename drcomplete-auto drcomplete-base


